.box {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #fefefe;
    box-shadow: 3px 3px 3px 3px #dedede;
    border-radius: 10px;
}

.country-box {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #fefefe;
    box-shadow: 3px 3px 3px 3px #dedede;
    border-radius: 10px;
}

.covid-map {
    @media screen and (max-width: 1000px) {
        margin-top: 200px;
        /*   background-color: red; */
    }
}

.covid-map2 {
    /*   margin-top: 300px; */
    max-height: 89vh;
    background-color: yellow
}

.ghana-box {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid #fefefe;
    box-shadow: 3px 3px 3px 3px #dedede;
    border-radius: 10px;
    margin-bottom: 40px;
}

.ghana-page {
    overflow: hidden;
}

.covid-head {
    color: red;
    text-decoration: underline;
    font-weight: 600;
    text-align: center;
}